In [ ]:
Ans = 1
import pandas as pd

# create the series
data = [4, 8, 15, 16, 23, 42]
series = pd.Series(data)

# print the series
print(series)

output -
0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

In [ ]:
Ans = 2
import pandas as pd

# create a list
my_list = ['apple', 'banana', 'orange', 'pear', 'grape', 'pineapple', 'mango', 'kiwi', 'watermelon', 'papaya']

# create a series from the list
my_series = pd.Series(my_list)

# print the series
print(my_series)


output - 
0         apple
1        banana
2        orange
3          pear
4         grape
5     pineapple
6         mango
7          kiwi
8    watermelon
9        papaya
dtype: object

In [ ]:
Ans = 3
import pandas as pd

# create the dictionary with the data
data = {'name': ['Alice', 'Bob', 'Claire',],
        'age': [25, 30, 27],
        'gender': ['Female','Male','Female']}

# create the DataFrame
df = pd.DataFrame(data)

# print the DataFrame
print(df)

output - 

       name  age     gender
0     Alice   25     Female
1       Bob   30     Male
2     Claire  27     Femle

In [ ]:
Ans = 4
In Pandas, a DataFrame is a two-dimensional table-like data structure that consists of rows and columns.
It is similar to a spreadsheet or a SQL table and can be thought of as a collection of Pandas Series that
share the same index.

A Pandas Series, on the other hand, is a one-dimensional array-like data structure that consists of an array of
data values and an associated array of labels, called the index.

ex:
    import pandas as pd

# create a Pandas Series
s = pd.Series([1, 2, 3, 4, 5], index=['a', 'b', 'c', 'd', 'e'])
print(s)

# create a DataFrame
data = {'name': ['Alice', 'Bob', 'Charlie'],
        'age': [25, 30, 35],
        'country': ['USA', 'Canada', 'UK']}
df = pd.DataFrame(data)
print(df)

ouput :
a    1
b    2
c    3
d    4
e    5
dtype: int64

      name  age country
0    Alice   25     USA
1      Bob   30  Canada
2  Charlie   35      UK

In [ ]:
Ans = 5
1.
head() and tail(): These functions are used to display the top and bottom rows of the DataFrame respectively.
They are useful for quickly inspecting the data in a DataFrame.

2.
describe(): This function generates descriptive statistics for each column in the DataFrame, including the
count, mean, standard deviation, minimum, maximum, and quartile values. It is useful for getting an overview 
of the data in the DataFrame.

3.
drop(): This method is used to drop specified labels from rows or columns in the DataFrame. It is useful for 
removing unwanted data from the DataFrame.

4.
sort_values(): This method is used to sort the DataFrame by one or more columns. It is useful for sorting the
data in a specific order for analysis.

5.
groupby(): This method is used to group the DataFrame by one or more columns, and apply a function to each group.
It is useful for aggregating data and performing group-wise operations.

6.
fillna(): This method is used to fill missing values in the DataFrame with a specified value or method. It
is useful for dealing with missing data in the DataFrame.

7.
apply(): This method is used to apply a function to each element or row/column of the DataFrame. It is useful 
for performing custom operations on the data in the DataFrame.

In [ ]:
Ans = 6
import pandas as pd

s = pd.Series([1, 2, 3, 4, 5])
s[2] = 10
s[5] = 20
s = s.drop(4)
print(s)

output - 
0     1
1     2
2    10
3     4
5    20
dtype: int64

import pandas as pd

data = {'name': ['Alice', 'Bob', 'Charlie'],
        'age': [25, 30, 35],
        'country': ['USA', 'Canada', 'UK']}
df = pd.DataFrame(data)
df.loc[1, 'age'] = 31
df['salary'] = [50000, 60000, 70000]
df = df.drop(2)
print(df)

output:
    name  age country  salary
0  Alice   25     USA   50000
1    Bob   31  Canada   60000

In [ ]:
Ans = 7
import pandas as pd

# create three Series
names = pd.Series(['Alice', 'Bob', 'Charlie'])
ages = pd.Series([25, 30, 35])
countries = pd.Series(['USA', 'Canada', 'UK'])

# create a DataFrame using the three Series
data = {'name': names, 'age': ages, 'country': countries}
df = pd.DataFrame(data)

print(df)

output:
          name  age country
0    Alice   25     USA
1      Bob   30  Canada
2  Charlie   35      UK